body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    background-color: #fff;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sr-only{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1158px;
    margin: 0 auto;
}
h1,h2,h3,p{
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.02em;
}

a:hover {
    color: #404bbf;
}

a:focus {
    color: #404bbf;
}