.feature-title{
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.feature-description{
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.features{
    padding-top: 120px;
    padding-bottom: 120px;
}
.features1{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.features2{
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.features-item{
    width: 100%;
}
.feature-icon-container{
    display: none;
}
.feature-icon{
    display: block;
    margin: 0 auto;
}
@media screen and (min-width: 768px){
    .features2{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
    .features-item{
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px){
    .feature-icon-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: rgba(244, 244, 253, 1);
        border: 1px solid rgba(142, 143, 153, 1);
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .features2{
        flex-wrap: nowrap;
        gap: 24px;
    }
    .features-item{
        width: calc((100% - 72px) / 4);
    }
}